<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TravelApp&#174; | Travel the world through oour lenses</title>
    </head>

    <body>

        <header>
            <div class="site-logo-wrapper">
               <h1 class="site-logo">TravelApp&#174;</h1>
            </div>
        </header>

        <main>
            <section class="page-width city-section hide">
                <div class="city-card-wrapper">
                    <div class="city-card">
                        <div class="weather-top">
                            <span class="weather-info-location weather-info" data-city>City</span>
                            <span class="weather-info-date weather-info" data-today-date> - </span>
                        </div>
                        <div class="weather-middle">
                            <span class="weather-info-temp" data-today-weather>0</span>
                            <span class="weather-info-temp weather-imagery">
                                <img class="weather-icon" data-weather-icon src="">
                                <p class="weather-desc" data-today-desc> - </p>
                            </span>
                        </div>
                        <div class="weather-bottom">
                            <span class="weather-info-location weather-info" data-lng> - </span>
                            <span class="weather-info-date weather-info" data-lat> - </span>
                        </div>
                        

                    </div>

                </div>
            </section>
            <section class="page-width forecast-section hide">
                <div class="forecast-wrapper">
                    <h2 class="section-heading">Weather forecast</h2>
                    <div class="forecast-inner-wrapper" data-forecast>
                        
                    </div>
                </div>
            </section>
            <section class="page-width itin-section hide">
                <div class="itin-wrapper">
                    <h2 class="section-heading">Travel itinerary</h2>
                    <div class="depart">
                        <p class="info-title">Departs</p>
                        <p class="info-output" data-depart-date>Choose a city</p>
                    </div>
                    <div class="return">
                        <p class="info-title">Returns</p>
                        <p class="info-output" data-return-date> Select a date</p>
                    </div>
                    <div class="rem-days">
                        <p class="info-title">Days left before trip</p>
                        <p class="info-output" data-day-left>0</p>
                    </div>
                    <div class="travel-duration">
                        <p class="info-title">Travel duration</p>
                        <p class="info-output" data-travel-length>0</p>
                    </div>
                </div>

            </section>
            <section class="page-width">
                <form id="form">
                    <label for="destination">Destination</label>
                    <input id="destination" type="text" value="" placeholder="City" required>

                    <label for="destination">Depart</label>
                    <input id="start-date" type="date" value="" required>

                    <label for="destination">Return</label>
                    <input id="end-date" type="date" value="" required>

                    <input class="btn" type="submit" name="" value="submit">
                </form>
            </section>
        </main>

        <footer class="footer-section">
            <p>TravelApp developed by <a href="https://github.com/areejsalah/travel-app-final-project-">@areejsalah</a> as a capstone project for the Udacity front end developer course</p>
        </footer>
        <script>
            // Check that service workers are supported
             
            if ('serviceWorker' in navigator) {
                try{
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            } catch(error){
            console.log("error"+ error)
        }
            }

       
           </script>
    </body>
</html>
