.footer-section{
    text-align: center;
    padding: 40px 40px;
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.6em;
}

.footer-section p a{
    color: #eec200;
}