form {
   
    border-radius: 3px;
    padding: 40px;
    border: 1px solid #E8E9EB;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 20px;
    margin: 10px 0;
    color: #637381;
    font-size: 1.2rem;
    border: #637381 1px solid;
}
:root{

    /* dimension */
    --mobile-width: 460px;
    --desktop-width: 1440px;

    /* color */
    --color-primary: #3F4EAE;

    /* font */
    --font-family: ShopifySans, Helvetica, Arial, sans-serif;
    --font-weight-light:500;
}

.btn{
    display: inline-block;
      width: auto;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
     
      border-radius: 5px;
      background-color: var(--color-primary);
      padding: 14px 25px;
      box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
      color: #ffffff;
      font-family: var(--font-primary);
      font-style: normal;
      border: 0;
      text-transform: capitalize;
      line-height: 1.133;
      white-space: normal;
      font-size: 1em;
      font-weight: var(--font-weight-light);
      margin-top: 1.5625em;
    }

    @media screen and (max-width: 590px) {
        .page-width{
            max-width: var(--mobile-width);
            
           
        }
    }