@use "sass:color";
form {
   
    
    padding: 20px;
    border: 1px solid #E8E9EB;
    border-radius: 13px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 20px;
    margin: 10px 0;
    color: #637381;
    font-size: 1.2rem;
    border: #637381 1px solid;
    font-family: "Work Sans",sans-serif;
}
:root{

    /* dimension */
    --mobile-width: 460px;
    --desktop-width: 800px;

    /* color */
    --color-primary: #002e25;
    /* font */
    --font-family: "Work Sans",sans-serif;
    --font-weight-light:500;
}

.btn{
    display: inline-block;
      width: auto;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 5px;
      background-color: var(--color-primary);
      padding: 14px 25px;
      box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
      color: #ffffff;
      font-family: var(--font-primary);
      font-style: normal;
      border: 0;
      text-transform: capitalize;
      line-height: 1.133;
      white-space: normal;
      font-size: 1em;
      font-weight: var(--font-weight-light);
      margin-top: 1.5625em;
    }
.btn:hover{
    $color-primary: #002e25;
    
    background-color: color.scale($color-primary, $lightness: 10%);
}

.page-width{
    max-width: var(--desktop-width);
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
}
    @media screen and (max-width: 590px) {
        .page-width{
            max-width: var(--mobile-width);
            margin: 20px auto;
            
           
        }
    }